<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ceit1912qin</display-name>
  	
  	<context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>webapp.root.ceit1912qin</param-value>
    </context-param>
    
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
              classpath:com/athensoft/config/application-context.xml
              classpath:com/athensoft/config/dao-context.xml
              classpath:com/athensoft/config/service-context.xml
         </param-value>
    </context-param>
    
    
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>